@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    color: #D6D6D6;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color:#D6D6D6;
    padding: 35px;
}
nav a:hover{
    color:#D6D6D6;
    background-color: #7E80A0;
    text-decoration: underline;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    color: #D6D6D6;
    text-align: center;
}
#hero-msg h4 {
    color: #D6D6D6;
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #373E7C;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    font-size: 22px;
    font-family: Raleway, Georgia, "Times New Roman";
    background-color: #D6D6D6;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #373E7C;
    font-family: Ubuntu, Georgia, "Times New Roman";
    display: grid;
    grid-template-columns: 150px auto;
}
.book {
    font-size: 18px;
    text-decoration: none;
    color: #D6D6D6;
    background-color: #373E7C;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    color: #D6D6D6;
    background-color: #7E80A0;
    text-decoration: underline;
}
.join {
    font-size: 18px;
    text-decoration: none;
    color: #373E7C;
    background-color: #D6D6D6;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    color: #D6D6D6;
    background-color: #7E80A0;
    text-decoration: underline;
}
.msg{
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #D6D6D6;
    background-color: #373E7C;
    font-family: Ubuntu, Georgia, "Times New Roman";
}
.msg p{
    font-size: .8em;
    color: #D6D6D6;
    background-color: #373E7C;
    padding-bottom: 15px;
}
footer {
    color: #D6D6D6;
    background-color: #373E7C;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
}
footer a{
    text-decoration: none;
    color: #D6D6D6;
    background-color: #373E7C;
}
footer a:hover {
    color: #D6D6D6;
    background-color: #7E80A0;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #373E7C;
    font-size: 2em;
    font-family: Ubuntu, Georgia, "Times New Roman";
    margin-top: 10px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card {
    margin: 200px 0
}
.camping-card {
    margin: 200px 0
}
.rapids-card {
    margin: 200px 0
}
.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.msg {
    background-color: #373E7C;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}
#rivers-title {
    text-align: center;
    font-size: 90px;
    color: #373E7C;
}
.river {
    border: 2px black solid;
    margin: 75px;
    background-color: #373E7C;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 5px 5px 10px black;
}
#salmon-title {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}
#salmon-img {
    grid-column: 1;
    grid-row: 2/5;
    align-self: center;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}
#salmon-info-p1 {
    grid-column: 2;
    grid-row: 2;
}
#salmon-info-p2 {
    grid-column: 2;
    grid-row: 3;
}
#salmon-info-p3 {
    grid-column: 2;
    grid-row: 4;
}
#deso-title {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}
#deso-img {
    grid-column: 1;
    grid-row: 2/5;
    align-self: center;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}
#deso-info-p1 {
    grid-column: 2;
    grid-row: 2;
}
#deso-info-p2 {
    grid-column: 2;
    grid-row: 3;
}
#deso-info-p3 {
    grid-column: 2;
    grid-row: 4;
}
#canyon-title {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
}
#canyon-img {
    grid-column: 1;
    grid-row: 2/5;
    align-self: center;
    justify-self: center;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}
#canyon-info-p1 {
    grid-column: 2;
    grid-row: 2;
}
#canyon-info-p2 {
    grid-column: 2;
    grid-row: 3;
}
#canyon-info-p3 {
    grid-column: 2;
    grid-row: 4;
}
form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #373E7C;
    color: #D6D6D6;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}