#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #ECEBE2;
}
header {
    background-color: #0C3146;
    font-family: Ubuntu, Georgia, "Times New Roman";
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    color: #ECEBE2;
    text-align: center;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}
nav a{
    text-decoration: none;
    color:#ECEBE2;
    padding: 35px;
}
nav a:hover{
    color:#ECEBE2;
    background-color: #396E94;
    text-decoration: underline;
}
.logo {
    width: 65px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -80px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ECEBE2;
    border-radius: 20px;
    opacity: .8;
    box-shadow: 5px 5px 10px black;
}
#hero-msg h1 {
    color: #0C3146;
    text-align: center;
    font-size: 40px;
    opacity: 1;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#jorted-runner-crash {
    grid-column: 1;
    grid-row: 1;
    margin: 50px;
    box-shadow: 5px 5px 10px black;
}
#home-p1 {
    grid-column: 2/5;
    grid-row: 1;
    margin: 50px;
}
#home-p4 {
    grid-column: 1/4;
    grid-row: 2;
    margin: 50px;
}
#jorted-runners {
    margin: 50px;
    box-shadow: 5px 5px 10px black;
}

#pr-list {
    background-color: #0C3146;
    color: #ECEBE2;
    box-shadow: 5px 5px 10px black;
}
#pr-title {
    text-align: center;
}

footer {
    color: #D6D6D6;
    background-color: #0C3146;
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
footer p:hover {
    text-decoration: underline;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}
footer a{
    text-decoration: none;
    color: #D6D6D6;
    background-color: #0C3146;
}
footer a:hover {
    color: #D6D6D6;
    background-color: #7E80A0;
}
footer .social img {
    padding-top: 15px;
}
#foot-logo {
    grid-column: 1;
    grid-row: 1;
}
