/* Colors: F9F5EB, E4DCCF, EA5455, 002B5B */
/* font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive; */

body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* 16px = 100%  = 1em */
/* rem is root em, it ignores all inherited sizing from parent */

h1 {
    margin: 50px auto 0 auto;
    font-size: 5.5rem;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

h1, h2, h3, a {
    color: #002B5B;
}

p {
    font-family: 'Courier Prime', monospace;
}

.top-container {
    background-color: #f9f5eb;
    position: relative;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile {
    width: 50%;
    margin: 100px auto;
    text-align: justify;    
    line-height: 2;

}

.profile img {
    width: 25%;
    margin: 100px 30px;
    float: right;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: justify;
    line-height: 2;
}

.skill-row img {
    width: 25%;
    float: left;
    margin: 150px 30px;
}

#stopwatch {
    float: right;
}

.contact-me {
    width: 50%;
    margin: 50px auto;
}

.contact-me h2, h3 {
    margin: 60px;
}

.btn {
    line-height: 5;
    background: #8bc8f0;
    background-image: -webkit-linear-gradient(top, #8bc8f0, #002B5B);
    background-image: -moz-linear-gradient(top, #8bc8f0, #002B5B);
    background-image: -ms-linear-gradient(top, #8bc8f0, #002B5B);
    background-image: -o-linear-gradient(top, #8bc8f0, #002B5B);
    background-image: linear-gradient(to bottom, #8bc8f0, #002B5B);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: 'Courier Prime', monospace;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #002B5B;
    background-image: -webkit-linear-gradient(top, #002B5B, #8bc8f0);
    background-image: -moz-linear-gradient(top, #002B5B, #8bc8f0);
    background-image: -ms-linear-gradient(top, #002B5B, #8bc8f0);
    background-image: -o-linear-gradient(top, #002B5B, #8bc8f0);
    background-image: linear-gradient(to bottom, #002B5B, #8bc8f0);
    text-decoration: none;
}

.bottom-container {
background-color: #002B5B;
color: #f9f5eb;
padding: 50px;
}
.bottom-container a {
    color: #f9f5eb;
    margin: 20px;
}
.footer-link {
    font-size: 1.2rem;
}
.siting-source {
    font-size: .5rem;
}

.Projects {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Projects h2 {
    grid-column: 1/4;
    grid-row: 1;
}
.jorted-card {
    grid-column: 0;
    grid-row: 2/3;
}
.rafting-card {
    grid-column: 1;
    grid-row: 2/3;
}
.card-img {
    width: 55%;
    margin-top: 50px;
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}