img {
    width: 25%;
    display: block;
    margin: 50px auto;
}
h1 {
    display: block;
    color: white;
    text-align: center;
}
body{
    background-color: pink;
}
p {
    font-size: small;
    text-align: center;
    color: white;
    display: block;
}
h2 {
    font-size: small;
    text-align: center;
    color: white;
    display: block;
}
div {
    font-size: small;
    text-align: left;
    display: block;
}